@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    
}

.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app-container h1 {
color: #3498db

;
}

.QRimage {
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.input-label {
    display: block;
    margin-bottom: 8px;
    color: #3498db;
    font-size: 18px;
    font-weight: 500;
}


input[type='text'] {
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 6px;
}


button {
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.Generate-btn {
    background-color: #3498db;
}

.Generate-btn:disabled{
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.Download-btn {
    background-color: #27ae60;
    margin-left: 10px;
}

.Download-btn:hover {
    background-color: #27ae60;
}

.footer {
    margin-top: 20px;

}


.footer a {
    text-decoration: none;
    color: #3498db;
}